Repository boostcampwm-2022/web37-ZelloDraw, pull requests merged in 2022-12, with the labels that each got.

#41 [feat] 방장이 보는 결과스케치북을 동기화하는 기능
  backend/src/core/core.gateway.ts
  backend/src/core/game.dto.ts
  backend/src/core/game.service.ts
  backend/src/core/gameLobby.model.ts
  backend/src/core/quizReplyChain.model.ts
  frontend/src/assets/icons/chevron-down.svg
  frontend/src/assets/icons/chevron-left-gradient.svg
  frontend/src/assets/icons/chevron-right-gradient.svg
  frontend/src/assets/icons/chevron-up.svg
  frontend/src/atoms/result.ts
  frontend/src/components/ResultGuide.tsx
  frontend/src/components/ResultSketchbook.tsx
  frontend/src/components/RoundNumber.tsx
  frontend/src/components/RoundNumberAndTimer.tsx
  frontend/src/components/SketchbookCard.tsx
  frontend/src/components/Timer.tsx
  frontend/src/game/NetworkServiceUtils.ts
  frontend/src/hooks/useCheckGuidePage.ts
  frontend/src/hooks/useResultSketchbook.tsx
  frontend/src/hooks/useTimer.ts
  frontend/src/styles/ZelloTheme.ts
  frontend/src/utils/constants.ts
Labels: FE, BE

#46 [Refactor] pollyFill -> PolyFill 로 오타 수정
  backend/src/core/gameLobby.model.ts
  frontend/src/services/socketService.ts
Labels: refactor, BE

#47 [Refactor] submit-quiz-reply 소켓 이벤트 핸들러에서 분기문 내부 로직 분리하여 가독성 향상
  backend/src/core/core.gateway.ts
Labels: 백엔드, refactor

#52 [feat] 유저의 URL 직접 접근 방지
  frontend/src/App.tsx
  frontend/src/components/InfoCard.tsx
  frontend/src/components/InviteButton.tsx
  frontend/src/components/ResultSketchbook.tsx
  frontend/src/components/route/ProtectRoute.tsx
  frontend/src/hooks/useLobbyId.ts
  frontend/src/hooks/useRemoveParams.ts
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
  frontend/src/pages/Main.tsx
Labels: FE

#54 [feat] 결과스케치북 모션적용 및 기존 모션 성능 개선
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/InfoCarousel.tsx
  frontend/src/components/QuizResultContent.tsx
  frontend/src/components/SketchbookCard.tsx
  frontend/src/components/Timer.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
  frontend/src/styles/ZelloTheme.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/framerMotion.ts
Labels: FE

#51 [fix] WebRTC 버그 수정 및 마이크, 카메라 on/off 관련 소켓 이벤트 추가
  backend/src/core/core.gateway.ts
  backend/src/core/user.dto.ts
  backend/src/core/user.model.ts
  frontend/package.json
  frontend/src/atoms/game.ts
  frontend/src/atoms/user.ts
  frontend/src/components/CameraButton.tsx
  frontend/src/components/GameUsers.tsx
  frontend/src/components/MainVideoCall.tsx
  frontend/src/components/MicButton.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/components/UserList.tsx
  frontend/src/components/VideoCallUser.tsx
  frontend/src/hooks/useLocalStream.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
  frontend/src/utils/constants.ts
Labels: FE

#57 [feat] 몇명이나 답을 제출했는지 표시하는 기능
  frontend/package-lock.json
  frontend/src/atoms/game.ts
  frontend/src/components/GameModeItem.tsx
  frontend/src/components/GameModeList.tsx
  frontend/src/components/InfoCard.tsx
  frontend/src/components/QuizReplySection.tsx
  frontend/src/game/NetworkServiceUtils.ts
  frontend/src/hooks/usePrevQuizReply.tsx
  frontend/src/pages/Game.tsx
Labels: FE

#61 [Feat] NestJS에 MongoDB 적용
  backend/.eslintrc.js
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/gameResult/gameResult.module.ts
  backend/src/gameResult/gameResult.schema.ts
  backend/src/gameResult/gameResult.service.ts
Labels: 백엔드

#63 [feat] 제출한 사람 표시하는 UI 수정
  frontend/package-lock.json
  frontend/src/atoms/game.ts
  frontend/src/components/CurAndMaxNumber.tsx
  frontend/src/components/GameSketchbook.tsx
  frontend/src/components/QuizReplySection.tsx
  frontend/src/components/ResultSketchbook.tsx
  frontend/src/components/RoundNumber.tsx
  frontend/src/components/RoundNumberAndTimer.tsx
  frontend/src/components/SketchbookCard.tsx
  frontend/src/components/Timer.tsx
  frontend/src/hooks/usePrevQuizReply.tsx
  frontend/src/styles/ZelloTheme.ts
Labels: 🚀 feat, 🎨 Front-end

#68 [fix] 결과 스케치북 모션 수정
  frontend/src/atoms/result.ts
  frontend/src/components/InfoCarousel.tsx
  frontend/src/components/QuizResultContent.tsx
  frontend/src/components/SketchbookCard.tsx
  frontend/src/hooks/useResultSketchbook.tsx
  frontend/src/utils/framerMotion.ts
Labels: 🎨 Front-end, 🔨 fix

#72 [fix] 스케치북 관련 버그 수정
  frontend/src/components/ResultSketchbook.tsx
  frontend/src/hooks/usePrevQuizReply.tsx
  frontend/src/hooks/useTimer.ts
Labels: 🎨 Front-end, 🔨 fix

#81 [feat] WebRTC 오디오 관련 기능 개선
  frontend/src/atoms/user.ts
  frontend/src/components/GameUsers.tsx
  frontend/src/components/MainVideoCall.tsx
  frontend/src/components/UserList.tsx
  frontend/src/components/VideoCallUser.tsx
  frontend/src/hooks/useLocalStream.ts
Labels: 🚀 feat, 🎨 Front-end

#84 [fix] 다른 유저 소리가 안 들리는 오류 해결
  frontend/src/hooks/useLocalStream.ts
  frontend/src/hooks/useWebRTC.ts
Labels: 🐞 bug, 🎨 Front-end, 🔨 fix

#85 [fix] 타이머 작동안하는 버그 수정
  backend/src/core/core.gateway.ts
  backend/src/core/gameLobby.model.ts
Labels: 🐞 bug, 💻 Back-end

#86 [fix] RTC 버그 수정
  frontend/src/components/VideoCallUser.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/pages/Lobby.tsx
  frontend/src/pages/Main.tsx
Labels: 🐞 bug, 🎨 Front-end, 🔨 fix

#90 [feat] 효과음 및 효과음 온오프 버튼
  frontend/src/assets/buttons/sound-off-btn.svg
  frontend/src/assets/buttons/sound-on-btn.svg
  frontend/src/assets/sounds/book-moved.wav
  frontend/src/assets/sounds/countdown.mp3
  frontend/src/assets/sounds/lobby-in.mp3
  frontend/src/assets/sounds/page-down.wav
  frontend/src/assets/sounds/page-up.wav
  frontend/src/assets/sounds/result-in.wav
  frontend/src/assets/sounds/select-tools.wav
  frontend/src/atoms/user.ts
  frontend/src/components/CameraButton.tsx
  frontend/src/components/ControlButton.tsx
  frontend/src/components/MicButton.tsx
  frontend/src/components/ResultSketchbook.tsx
  frontend/src/components/SoundControlButton.tsx
  frontend/src/hooks/useCanvas.ts
  frontend/src/hooks/usePalette.ts
  frontend/src/hooks/useResultSketchbook.tsx
  frontend/src/hooks/useSoundEffect.ts
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
  frontend/src/react-app-env.d.ts
Labels: 🚀 feat, 🎨 Front-end

#95 [refactor] 초기 페이지 로드 속도 최적화
  frontend/src/App.tsx
  frontend/src/pages/ShareResult.tsx
Labels: ✏️ refactor, 🎨 Front-end

#97 [refactor] 소켓 관련 코드 리팩터링
  frontend/src/atoms/game.ts
  frontend/src/axios/sharedResult.ts
  frontend/src/components/CameraButton.tsx
  frontend/src/components/GameModeList.tsx
  frontend/src/components/GameSketchbook.tsx
  frontend/src/components/GameStartButton.tsx
  frontend/src/components/MicButton.tsx
  frontend/src/components/QuizReplySection.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/components/resultSketchbook/OneMoreGameButton.tsx
  frontend/src/components/resultSketchbook/ResultSketchbook.tsx
  frontend/src/components/resultSketchbook/SketchbookAuthor.tsx
  frontend/src/game/NetworkServiceUtils.ts
  frontend/src/hooks/socket/useGameSocket.ts
  frontend/src/hooks/socket/useLobbySocket.ts
  frontend/src/hooks/socket/useMainSocket.ts
  frontend/src/hooks/socket/useResultSocket.ts
  frontend/src/hooks/socket/useUserSocket.ts
  frontend/src/hooks/usePrevQuizReply.tsx
  frontend/src/hooks/useResultSketchbook.tsx
  frontend/src/hooks/useRoundTimeout.ts
  frontend/src/hooks/useZeroRound.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/Lobby.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/ShareResult.tsx
  frontend/tsconfig.paths.json
Labels: ✏️ refactor, 🎨 Front-end

#100 [refactor] 프론트엔드 렌더링 최적화 일부 적용 및 버그 수정
  frontend/src/atoms/game.ts
  frontend/src/components/DrawingTools.tsx
  frontend/src/components/GameUsers.tsx
  frontend/src/components/QuizReplySection.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/components/UserList.tsx
  frontend/src/hooks/useCanvas.ts
  frontend/src/hooks/usePalette.ts
Labels: ✨ enhancement, ✏️ refactor, 🎨 Front-end

#101 [fix] 문제의 소지가 있는 랜덤 단어 수정
  backend/src/utils/randomKeyWord.ts
Labels: 💻 Back-end

#103 [feat] 게임 호스트 표시
  backend/src/core/core.gateway.ts
  backend/src/core/gameLobby.model.ts
  backend/src/core/lobby.service.ts
  backend/src/core/user.dto.ts
  frontend/src/atoms/game.ts
  frontend/src/atoms/user.ts
  frontend/src/components/GameUsers.tsx
  frontend/src/components/UserList.tsx
  frontend/src/components/VideoCallUser.tsx
  frontend/src/components/resultSketchbook/SketchbookAuthor.tsx
  frontend/src/hooks/socket/useGameSocket.ts
  frontend/src/hooks/socket/useUserSocket.ts
Labels: 🚀 feat, 🎨 Front-end, 💻 Back-end

#104 [feat] WebRTC remote 유저 말할 때 감지 후 하이트라이트 효과 처리
  frontend/src/atoms/game.ts
  frontend/src/components/GameUsers.tsx
  frontend/src/components/UserList.tsx
  frontend/src/components/VideoCallUser.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/utils/constants.ts
Labels: 🎨 Front-end, 🔨 fix

#111 [feat] WebRTC 통신을 위한 TURN 서버 추가 구현
  frontend/src/hooks/useWebRTC.ts
  frontend/src/utils/constants.ts
Labels: 🚀 feat

#114 [fix] 캔버스 버그 수정
  frontend/src/components/VideoCallUser.tsx
  frontend/src/hooks/useCanvas.ts
  frontend/src/hooks/usePalette.ts
  frontend/src/hooks/useWebRTC.ts
Labels: 🐞 bug, 🎨 Front-end, 🔨 fix

#119 [fix] 브라우저 내 사이트 카메라 및 마이크 권한 상태에 따른 처리 수정
  frontend/src/components/CameraButton.tsx
  frontend/src/components/MainVideoCall.tsx
  frontend/src/components/MicButton.tsx
  frontend/src/components/VideoCallUser.tsx
  frontend/src/hooks/useDetectPeerAudioVolume.ts
  frontend/src/hooks/useDetectSelfAudioVolume.ts
  frontend/src/hooks/useLocalStream.ts
  frontend/src/utils/constants.ts
Labels: 🎨 Front-end, 🔨 fix

#121 [feat] 깃허브 로고 클릭 시 zello 깃헙으로 이동
  frontend/src/assets/icons/github.svg
  frontend/src/components/GitHubIconButton.tsx
  frontend/src/components/MadeByText.tsx
  frontend/src/pages/Main.tsx
  frontend/src/utils/constants.ts
Labels: 🚀 feat, 🎨 Front-end

#126 [fix] 효과음 볼륨 조정 및 오류 해결
  frontend/src/components/DrawingTools.tsx
  frontend/src/components/HexColorPicker.tsx
  frontend/src/hooks/socket/useLobbySocket.ts
  frontend/src/hooks/useCanvas.ts
  frontend/src/hooks/usePalette.ts
  frontend/src/hooks/useSoundEffect.ts
Labels: ✨ enhancement, 🎨 Front-end, 🔨 fix
